.search-filter-wrapper {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* .search-input {
  display: flex;
  align-items: center;
  gap: 8px;
} */

.search-input input {
  padding: 10px 14px;
  border-radius: 8px;
  /* border: 1px solid #1c278a; */
  width: 200px;
  margin-left: 60px;
}



.filter-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-btn {
  padding: 10px 15px;
  border: none;
  background-color: #5c6fff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 40px;
}


.search-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 20px 0;
  flex-wrap: wrap; /* Mobile view ke liye important */
}

.search-input {
  flex: 1;
  min-width: 200px;
  padding: 10px;
  border-radius: 8px;
  /* border: 1px solid #ccc; */
}

.filter-select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  min-width: 150px;
  margin-right: 30px;
}

